.roomSelection {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.leftContainer,
.roomCard {
  background-color: var(--background-color-light);
  border: 1px solid #ccc;
}

.leftContainer {
  border-radius: 8px;
  padding: 0 1rem;
}

.roomCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.roomDetails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.details {
  text-align: left;
}

.details ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Price details */
.priceDetails {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.priceDetails h4 {
  margin: 0 0 0.5rem 0;
  font-size: 1.1rem;
}

.rates p {
  margin: 0;
  font-size: 0.875rem;
  text-align: left;
}

.priceDetails .price {
  display: flex;
  flex-direction: column;
}

.priceDetails .price p {
  margin: 0;
  font-weight: 500;
}

.priceDetails .price span {
  font-size: 0.875rem;
  font-weight: 500;
}

.priceDetails .price span {
  margin-bottom: 0.875rem;
}

.priceDetails select {
  padding: 0.5rem;
  background: none;
  border: 1px solid #555;
  border-radius: 5px;
  cursor: pointer;
}

/* Left container - reservation summary */

.leftContainer h1 {
  font-size: 1.5rem;
  margin: 0;
}

.leftContainer .summary {
  border-bottom: 1px solid #dedede;
  padding: 1rem 0;
}

.leftContainer .dates {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.95rem;
}

.totalNights {
  font-size: 0.75rem;
  background-color: #111;
  color: #fff;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 8px;
}

/* Left container - Selected rooms */
.rooms {
  border-bottom: 1px solid #dedede;
  padding: 1rem 0;
  text-align: left;
}

.rooms h2 {
  font-size: 1.1rem;
  margin: 0;
}

.rooms ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.rooms ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-size: 0.95rem;
  font-weight: 400;
}

.rooms ul li p {
  margin: 0.5rem;
}

.total {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
}

.total div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-size: 0.95rem;
  font-weight: 400;
}

.total div h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: normal;
}

.total div:nth-child(3) h3,
.total div:nth-child(3) span {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Button container */
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.buttonContainer .button {
  background-color: #3498db;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.buttonContainer .button:hover {
  background-color: #2980b9;
}

.buttonContainer .button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
