.guestForm {
  padding: 2rem;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.guestForm .header {
  grid-column: span 2;
  margin: 0 0 1rem 0;
  text-align: left;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.guestForm .header button {
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
}

.guestForm .header button:hover {
  background-color: #f0f0f0;
}

.groupContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.groupContainer .formGroup {
  flex: 1;
}
.groupContainer .formGroup:nth-child(2) {
  flex: 2;
}

.formGroup label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formGroup label div {
  font-size: 0.95rem;
  text-align: left;
}

.formGroup label div span {
  color: red;
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  background: #fff;
  color: #333;
}

select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  background: #fff;
  color: #333;
}
